.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: .7;
  transition: opacity 0.5s ease;
}
