@import url(./__container/khan__container.css);
@import url(./__container/__quote/khan__quote.css);
@import url(./__container/__author/khan__author.css);
@import url(./__container/__title/khan__title.css);
@import url(./__container/__quote/khan__quote-author.css);
@import url(./__container/__quote/khan__quote-author-subline.css);
@import url(./__container/__book-container/khan__book-container.css);
@import url(./__container/__book-container/__book-pic/khan__book-pic.css);
@import url(./__container/__book-container/__buy-link/khan__buy-link.css);


.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}
