@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__image/feynman__image.css);
@import url(./__link/feynman__link.css);

.feynman {
  position: relative;
  min-height: 790px;
  background-color: #f2f2f2;
  display: flex;
  z-index: 0;
  flex-direction: column;
  align-items: center;
}
