.two-columns__paragraph {
  display: flex;
  flex-direction: row;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
