/* * {
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
} */

.logo_place_header:hover {
 outline: solid 1px #2f80ed;
}

.logo_place_footer:hover {
  outline: white 1px solid;
}

a:hover {
  text-decoration: underline;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2 ;
  position: relative;
  display: flex;
  z-index: 0;
}

.logo {
  width: 183px;
  background-repeat: no-repeat;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
  height: 32px;
}

.logo_place_footer {
  display: flex;
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.header__title {
  align-items: center;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  display: flex;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  z-index: 1;
  font-weight: normal;
}

.header__link {
  color:  #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -1;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.two-columns__brief {
  display: flex;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  margin-bottom: -30px;
}

.two-columns__paragraph {
  display: flex;
  flex-direction: row;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}

.space {
  height: 30px;
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;

}

.section__theme_dark {
  margin-top: 90px;
}

.section-title {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  width: 60%;
  margin-top: 100px;
  line-height: 1.15;
}

.section-title_theme_dark {
  line-height: 69px;
  margin-top: 90px;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  width: 60%;
}

.table {
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 0;
  list-style: none;
  padding: 0;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell{
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading {
  display: flex;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.feynman {
  position: relative;
  min-height: 790px;
  background-color: #f2f2f2 ;
  display: flex;
  z-index: 0;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  margin-top: 100px;
  margin-bottom: 0;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  display: flex;
  z-index: 1;
  }

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  display: flex;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
  z-index: 1;
  font-weight: normal;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

.kaufman {
  background-color:#1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  color: white;
  overflow: hidden;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
  width: 877px;
  height: 877px;
}

.footer {
  display: flex;
  justify-content: center;
  color: white;
  min-height: 350px;
  background-color:#1f1f1f;
}
.footer__columns {
  display: flex;
  position: relative;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.footer__author {
  display: flex;
  margin-bottom: 16px;
  margin-top: 16px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__column-heading {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}






































